version: '3'
services:
  vuttr_api:
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: vuttr_api
    ports:
      - '3000:3000'
      - '5005:5005'
    environment:
      - ADDITIONAL_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=127.0.0.1:5005 -Xmx1G -Xms128m -XX:MaxMetaspaceSize=128m
      - PROFILE=dev